* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*app colors */
:root {
  --bg-light: #fff;
  --bg-dark: #16181d;
  --gray: rgb(110, 108, 108);
  --gray-one: rgb(143, 140, 140);
  --gray-tow: rgb(185, 182, 182);
  --gray-three: rgb(209, 207, 207);
  --gray-four: rgb(220, 220, 220);
  --gray-five: rgb(245, 245, 245);
  --white: #fff;
  --active: #4822d3d1;
}
.light {
  --bg-gray: rgb(245, 245, 245);
  --todo-text-color: #46474a;
  --todo-text-color-tow: #cccdcf;
  --todo-color: #ffffff;
  --todo-shadow: var(--gray-three);
  --secondary: var(--bg-dark);
}
.dark {
  --bg-gray: rgb(39, 38, 38);
  --todo-color: #272a33;
  --todo-text-color: var(--gray-tow);
  --todo-text-color-tow: var(--gray);
  --todo-shadow: #000;
  --gray-four: var(--gray-one);
  --secondary: var(--white);
}
